body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url(../img/star.png);
    background-size: 25%;
    animation: pan 180s linear infinite;
    padding: 0;
    will-change: background-position;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}
.logo {
    height: 100px;
    margin-right: -100px; 
    float: left;
}
header {
    background: rgb(15, 23, 135);
    color: white;
    padding: 16px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;

}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    gap: 30px;
    ;

}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 32px;
}
h2{
    text-align: justify;

    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
article {

    padding: 16px;
    border-radius: 8px;
    background: rgba(15, 23, 135, .4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}