{% extends 'base.html' %}
{% load static %}

{% block title %}InfoZone{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}

{% block content %}
<section>
    <h2>Categorías</h2>
    <div class="grid">
        <article>
            <a href="{% url 'tecnologia' %}">
                <img src="{% static 'img/tecnologia.jpg' %}" alt="Tecnología"/>
            </a>
            <h3>Tecnología</h3>
            <p>Sobre las tecnologías que nos rodean hoy</p>
        </article>
        <article>
            <a href="{% url 'salud' %}">
                <img src="{% static 'img/salud.png' %}" alt="Salud"/>
            </a>
            <h3>Salud</h3>
            <p>Medicina y enfermedades</p>
        </article>
        <article>
            <a href="{% url 'historia' %}">
                <img src="{% static 'img/historia.png' %}" alt="Historia"/>
            </a>
            <h3>Historia</h3>
            <p>Los eventos que marcaron nuestro presente</p>
        </article>
        <article>
            <a href="{% url 'entretenimiento' %}">
                <img src="{% static 'img/entretenimiento.jpg' %}" alt="Entretenimiento"/>
            </a>
            <h3>Entretenimiento</h3>
            <p>Distintas formas de entretenimiento</p>
        </article>
        <article>
            <a href="{% url 'gastronomia' %}">
                <img src="{% static 'img/gastronomia.jpg' %}" alt="Gastronomía"/>
            </a>
            <h3>Gastronomía</h3>
            <p>Recetas e información sobre alimentos</p>
        </article>
        <article>
            <a href="{% url 'astronomia' %}">
                <img src="{% static 'img/astronomia.png' %}" alt="Astronomía"/>
            </a>
            <h3>Astronomía</h3>
            <p>Al infinito y más allá</p>
        </article>
    </div>
</section>
{% endblock %}
