{% extends 'base.html' %}
{% load static%}
{% block title %}Editar Perfil - InfoZone{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Editar Perfil</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-login">Guardar Cambios</button>
    </form>
    <div class="login-links">
        <p><a href="{% url 'perfil' %}">Regresar al Perfil</a></p>
    </div>
</div>
{% endblock %}
