{% load i18n %}

{% autoescape off %}
{% blocktranslate %}
Hola,

Has solicitado restablecer tu contraseña en InfoZone. Por favor haz clic en el siguiente enlace para crear una nueva contraseña:
{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Tu nombre de usuario, en caso de que lo hayas olvidado:" %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}El equipo de InfoZone{% endblocktranslate %}
{% endautoescape %}